services:
  server-b:
    build:
      context: .
      dockerfile: server-b/Dockerfile
    ports:
      - "3002:3002"

  server-a:
    build:
      context: .
      dockerfile: server-a/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - server-b